.left-column {
  background: url("../images/kreska-pion.png") right repeat-y;

  .nav {
    line-height: $column-line-height;
    font-size: $menu-font-size;
  
    a {
      background: url(../images/kreska-li.png) repeat-x top;
      text-transform: uppercase;
      color: $dark;
      word-wrap: anywhere;

      &:first-child {
        background: none !important;
      }

      &:hover {
        color: $orange;
      }
    }

    .nav {
      margin-left: 2rem;
      margin-bottom: 0.5rem;
      font-size: 94%;
      line-height: 1.5;

      a {
        background: none;
        text-transform: none;
      }
    }
  }
}
