.right-column {
  background: url("../images/kreska-pion.png") left repeat-y;

  &__row {
    margin-bottom: 70px;

    h4 {
      background: url(../images/naglowki/h3.png) repeat-x top !important;
      font-size: 1.7rem;
      line-height: 150%;
      font-weight: 600;
      margin-left: -40px;
      padding-left: 20px;
      text-shadow: 0px 0px 5px rgb(255, 255, 255);
    }
  }
}
