.page {
  background: url(../images/bg.png) repeat fixed 50% 50%;

  &__header {
    box-shadow: $main-container-box-shadow;
  }

  &__main-container {
    box-shadow: $main-container-box-shadow;
    background: $main-container-background;
    border-radius: $main-container-border-radius;
    margin-top: -$main-container-border-radius;

    &--offset {
      box-shadow: $main-container-box-shadow;
      background: $main-container-background;
      border-radius: $main-container-border-radius;
      transform: translate($main-container-offset);
      overflow: hidden;
    }
  }
}
