.left-column {
  background: url(../../images/kreska-pion.png) right repeat-y;
  padding-right: 1px;

  .p-menu {
    line-height: $column-line-height;
    border: 0 !important;
    width: 100%;

    .p-menuitem,
    .p-menuitem-link {
      background: url(../../images/kreska-li.png) repeat-x bottom;
      text-transform: uppercase;
      word-wrap: anywhere;

      &:last-child {
        background: none !important;
      }

      &:hover a span {
        color: $orange !important;
      }
    }

    .nav {
      margin-left: 2rem;
      margin-bottom: 0.5rem;
      font-size: 94%;
      line-height: 1.5;

      a {
        background: none;
        text-transform: none;
      }
    }
  }
}
