$main-container-background: #ffffff;
$main-container-offset: 24px, -36px;
$main-container-border-radius: 10px;
$main-container-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
// $primary-color: #ed6400;
$primary-color: #d46b08;
$menu-line-height: 1.75;
$menu-font-size: 1rem;
$column-line-height: 1.75;
